*{
    margin: 0;
    padding: 0;
}
body{
    background-color: grey;
}
#contenedor{
    width: 1200px;
    height: 1000px;
    background-color: white;
    margin: 0.5em auto;
    padding: 0.5em;
}
#titular{
    height: 15%;
    background-color: pink;
    margin: 1em;
    border-radius: 1em;
}
#banner{
    height: 10%;
    background-color: hotpink;
    margin: 1em;
    border-radius: 1em;
}
#bannerright{
    height: 50%;
    background-color: indigo;
    float: right;
    width: 5%;
    border-radius: 10em;
    margin: 0.5em;
    
}
.circleleft{
    float: left;
    height: 50%;
    background-color: black;
    width: 5%;
    margin: 0.5em;
    border-radius: 30px;
}
#contenedor2{
    height: 50%;
    margin: 1em;
}
#conder{
    float: right;
    height: 100%;
    width: 68%;
    border-radius: 1em;
}
#top{
    
    height: 33%;
    width: 96%;
    border-radius: 2em;
}
#imagen{
    float: left;
    height: 70%;
    width: 80%;
    background-color: black;
    border-radius: 1em;
    margin:1em;
}
#condertopleft{
    float: left;
    height: 100%;
    width: 30%;
    border-radius: 1em;
}
#condertopright{
float: right;
height: 100%;
width: 70%;
border-radius: 1em;
}
#imagen1{
    float: left;
    height: 80%;
    width: 90%;
    border-radius: 1em;
    margin: 1em;
    font-size: small;
}
#medium{
    width: 96%;
    height: 32%;
    border-radius: 2em;
}
#condermediumleft{
    height: 80%;
    width: 65%;
    border-radius: 1em;
    float: left;
    font-size: small;
    margin: 1em;
}
#condermediumright{
    height: 100%;
    width: 30%;
    border-radius: 1em;
    float:right;
}
#imagen2{
    float: right;
    height: 75%;
    width: 85%;
    background-color: black;
    border-radius: 1em;
    margin: 1em;
}
#bot{
    
    width: 96%;
    height: 33%;

    border-radius: 2em;
}
#conderbotleft{
    float: left;
    width: 30%;
    height: 100%;

    border-radius: 1em;
}
#imagen3{
    float: left;
    height: 75%;
    width: 85%;
    background-color: black;
    border-radius: 1em;
    margin: 1em;

}
#conderbotright{
    height: 100%;
    width: 65%;
    font-size: small;
    float: right;
    margin: 1em;
}
#conizq{
    float: left;
    height: 100%;
    width: 30%;
    border-radius: 1em;
}
#izquierda{
    height: 100%;
    width: 100%;
    background-color: lightgreen;
    float: left;
    border-radius: 1em;
    
}
#bajo{
    height: 15%;
    background-color: lightskyblue;
    border-radius: 1em;
    margin: 1em;
}
#menu{
    float: left;
    height: 20%;
    width: 100%;
    background-color: yellow;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
#menu2{
    float: left;
    height: 20%;
    width: 100%;
    background-color: pink;
}
#menu3{
    float: left;
    height: 20%;
    width: 100%;
    background-color: salmon;
}
#menu4{
    float: left;
    height: 20%;
    width: 100%;
    background-color: lightseagreen;

}
#menu5{
    float: left;
    height: 20%;
    width: 100%;
    background-color: lemonchiffon;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}