*{
    margin: 0;
    padding: 0;
}
body{
    background-color: grey;
}
#contenedor{
    width: 1200px;
    height: 1000px;
    background-color: white;
    margin: 0.5em auto;
    padding: 0.5em;
}
#titular{
    height: 15%;
    background-color: pink;
    margin: 1em;
    border-radius: 1em;
}
#banner{
    height: 10%;
    background-color: hotpink;
    margin: 1em;
    border-radius: 1em;
}
#bannerright{
    height: 80%;
    background-color: indigo;
    float: right;
    width: 30%;
    border-radius: 1em;
    margin: 0.5em;
    
}
.circleleft{
    float: left;
    height: 50%;
    background-color: black;
    width: 5%;
    margin: 0.5em;
    border-radius: 30px;
}
#contenedor2{
    height: 50%;
    margin: 1em;
}
#conder{
    float: right;
    height: 100%;
    width: 68%;
    border-radius: 1em;
}
#top{
    
    height: 33%;
    width: 96%;
    border-radius: 2em;
}
#imagen{
    float: left;
    height: 70%;
    width: 80%;
    background-color: black;
    border-radius: 1em;
    margin:1em;
}
#condertopleft{
    float: left;
    height: 100%;
    width: 30%;
    border-radius: 1em;
}
#condertopright{
float: right;
height: 100%;
width: 70%;
border-radius: 1em;
}
#imagen1{
    float: left;
    height: 80%;
    width: 90%;
    border-radius: 1em;
    margin: 1em;
    font-size: small;
}
#medium{
    width: 96%;
    height: 32%;
    background-color: lightsteelblue;
    border-radius: 2em;

}
#imagen2{
    float: right;
    height: 75%;
    width: 25%;
    background-color: black;
    border-radius: 1em;
    margin: 1em;
}
#bot{
    
    width: 96%;
    height: 33%;
    background-color: mediumaquamarine;
    border-radius: 2em;
}
#imagen3{
    float: left;
    height: 75%;
    width: 25%;
    background-color: black;
    border-radius: 1em;
    margin: 1em;

}
#conizq{
    float: left;
    height: 100%;
    width: 30%;
    border-radius: 1em;
}
#izquierda{
    height: 100%;
    width: 100%;
    background-color: lightgreen;
    float: left;
    border-radius: 1em;
    
}
#bajo{
    height: 15%;
    background-color: lightskyblue;
    border-radius: 1em;
    margin: 1em;
}
#menu{
    float: left;
    height: 12%;
    width: 90%;
    background-color: yellow;
    border-radius: 1em;
    margin: 1em;
    border: 2px solid black;
}
#menu2{
    float: left;
    height: 12%;
    width: 90%;
    background-color: pink;
    border-radius: 1em;
    margin: 1em;
    border: 2px solid black;
}
#menu3{
    float: left;
    height: 12%;
    width: 90%;
    background-color: salmon;
    border-radius: 1em;
    margin: 1em;
    border: 2px solid black;
}
#menu4{
    float: left;
    height: 12%;
    width: 90%;
    background-color: lightseagreen;
    border-radius: 1em;
    margin: 1em;
    border: 2px solid black;
}
#menu5{
    float: left;
    height: 12%;
    width: 90%;
    background-color: lemonchiffon;
    border-radius: 1em;
    margin: 1em;
    border: 2px solid black;
}